/*Root style*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

:root {
    --primary-color: rgb(19, 24, 100);
    --secondary-color: #ffffff;
}

body {
    background-color: #b9cfdd;
}

/* header style*/
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    padding-left: 0;
    background-color:var(--primary-color);
    color: var(--secondary-color);
}

.header h1 {
    padding-left: 35px;
    font-size: 35px;
    padding-right: 10px;
    color: var(--secondary-color);
    background-color: #4269d1;
    border-radius: 0 5px 5px 0;
}

/* navigation style*/

.header nav ul {
    padding-top: 15px;
    margin-right: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}


.header nav ul li a {
    
    color: #a9bae7;   
    font-size: 16px; 
    margin: 0 30px;
    text-decoration: underline;
}

/* hero style */

.hero {
    height: 250px;
    width: 100%;
    margin-bottom:20px;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.hero-avatar {
    margin-left: 100px;
    border: solid 3px var(--secondary-color);
    border-radius: 52%;
}

/* style for h2 elements */
.section-title {
    width: 10%;
    padding-top: 20px;
    vertical-align: top;
    text-align: right;
    font-size: 20px;
    color:var(--primary-color);
    flex: 1 15%;   
}

/* About me style */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    font-size: 20px;
    line-height: 1.2;
    width: 75%;
    margin: 20px;
    border-left: 5px solid var(--primary-color);
    padding: 20px;
    flex: 1 78%;
}

/* projects style */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}


.project-articles {
    flex: 1 78%;
    margin:20px;
    border-left: 5px solid var(--primary-color);
}

/* large display style */
.large-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.large-display:hover {
    opacity: 0.5;
}

.large-display-link {
    flex: 1 0 90%;
    height: 400px;
    background-image: url("../images/pet-finder.PNG");
    background-size: cover;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    position: relative;
}

/* smaller display styles */

.small-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.small-display-one {
    flex: 1 0 47%;
    height: 200px;
    background-image: url("../images/PetBuddies.png");
    background-size: cover;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    position: relative;
}
.small-display-one:hover {
    opacity: 0.5;
}

.small-display-two {
    flex: 1 0 47%;
    height: 200px;
    background-image: url("../images/blue_leaf_sports.PNG");
    background-size: cover;
    border: 5px solid var(--secondary-color);
    margin: 20px;
    position: relative;
}

.small-display-two:hover {
    opacity: 0.5;
}

.secondary-title {
    border: 0;
    padding: 10px;
    line-height: 1.5;
    background-color: var(--secondary-color);
    position:absolute;
    bottom: 10px;   
}

/* footer style */

footer {    
    display: flex;
    justify-content:space-between;
    margin-right: 20px;
}

.footer-list {
    flex: 1 0 80%;
}

footer div ul {    
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    border-left: 5px solid var(--primary-color);
    padding: 20px;
}


footer div ul li a {
    color: var(--primary-color);   
    font-size: 18px; 
    margin: 0 70px;
    text-decoration: underline;
}

/* for desktop and laptops */
@media screen and (max-width: 980px ) {

    header nav{
        flex: 0 1 100%;
    }

    header nav ul li a {
        font-size: 15px;
    }

    .small-display-one {
        flex: 0 100%;
    }

    .small-display-two {
        flex: 0 100%;
    }

    footer ul li a {
        font-size: 20px;
    }
      
  }

  /* for tablets and small screens */
  @media screen and (max-width: 768px) {

    .hero-avatar {
        justify-content:center;
        align-items: center;
    }

    .header nav ul {
        display: block;
    }

    .header nav ul li {
        text-align: center;
    }

    .header nav ul li a {
        font-size: 25px;
    }

        .section-title {
                flex: 1 100%;
                text-align: center;
        }

        .text {
            flex: 1 0 100%;
            text-align: center;
            border-top: 5px solid var(--primary-color);
            border-left: 0;
        }

        .project-articles {
            flex: 1 0 100%;
            text-align: center;
            border-top: 5px solid var(--primary-color);
            border-left: 0;
        }

        footer {
            display:  block;
            text-align: center;
        }

        footer .section-title {
            flex: 1 100%;
           width: 100%;
            text-align: center;
            margin: 0 auto;

        }

        footer div ul {
            border-left: none;
            border-top: 5px solid var(--primary-color);
        }

        .footer-list ul {
            /* flex: 1 100%; */
            display: flex;
        }

}
